<!DOCTYPE html>
<html lang=“ja”>
<head>
    <meta charset=“utf-8”>
    <title>タイトル</title>
    <link rel=“stylesheet” href=“css/default.css” type=“text/css”>
</head>
<body>
@charset#"UTF-8";
body{
    background-color: #fbf9cc; /* 背景色を変える */
}
h1{
  font-size:1.75em;
  color: #3399cc;
  }
h2{
  font-size:1.25em;
  color: #3399cc;
  }
p{
  font-size:0.8em;
  background-color: #3399cc; /* 段落の文字の背景の色だけが変わる */
  color: #333333;
 }
li{
  font-size: 0.8em;
  color: #333333;
  }
 a{
    color: #df4839;
 }
a:hover{
    color: #ff705b; /* マウスが乗った時だけ特別な色 */
 }

</body>
</html>
